@page "/"
@rendermode InteractiveServer
<MudImage Fluid="true" Src="Components/pages/HomeBG.jpg" Alt="Swedish Farm House"  Class="rounded-lg" tabindex="0"/>
<PageTitle>Home</PageTitle>
<div tabindex="1">
	<h3>Imagine being engrossed in a dimension beyond comparison !</h3>
</div>



