@page "/"
@rendermode InteractiveServer
@* //<MudImage Fluid="true" Src="HomeBG.jpg" Alt="Swedish Farm House"  Class="rounded-lg" tabindex="0" Style"/> *@
<PageTitle>Home</PageTitle>
<MudMainContent>

	<div style="position: relative; top: 0; bottom: 0;">

		<MudImage Fluid="true" Src="HomeBg.jpg" Alt="Swedish Farm House"  />

	</div>

</MudMainContent>


